<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyauth error 404</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://js.sentry-cdn.com/98e7741c6ca644379b1f41f140d47005.min.js" crossorigin="anonymous"></script>

<body>
    <noscript>enable js so you can use this website</noscript>
    <div id="notification-container" style="position:fixed;pointer-events:none;"></div>
    <div class="my-text frame cetner-text">
        <h1 class="cetner-text">page not found</h1>
    </div>
    <script src="static/js/main.js"></script>

</body>

</html>