<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyauth login</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <noscript>enable js so you can use this website</noscript>
    <div id="loading-screen">
        <div id="loading-spinner"></div>
    </div>
    <div id="notification-container" style="position:fixed;pointer-events:none;"></div>
    <div class="my-text form_container">
        <form>
            <h2>Login - by 0xmrpepe</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">
            <input class="buttons" type="button" value="Login" id="signinbtn">
        </form>
    </div>
    <script src="static/js/main.js"></script>
</body>

</html>